footer {
  @extend %fCenter;
  @extend %primaryBackground;
  min-height: 5rem;
  position: relative;
  .wave {
    --wave-1: var(--light-primary-container);
    --wave-2: var(--dark-primary-container);
    --wave-3: var(--light-primary);
    --wave-4: #233155;
  }
  p {
    line-height: 2;
    margin: 0;
    .name {
      color: var(--dark-primary);
    }
  }
}
