.post {
  @extend %fCol;
  background: var(--border-color-inverse);
  border: 0.0625rem solid var(--border-color-inverse);
  border-radius: var(--main-border-radius);
  &.zoomed {
    .blog-container {
      position: fixed;
      z-index: 11;
      bottom: calc(52% - var(--header-height) / 2);
      right: 50%;
      transform: translate(50%, 50%);
      width: 95%;
      max-height: 75vh;
      display: flex;
      border: 0.125rem solid;
      @include in(toSmall) {
        width: 90%;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
      }
      .close {
        display: block;
      }
      &:before {
        content: "";
        width: calc(101vw + var(--header-height));
        height: calc(101vh + var(--header-height));
        @extend %aCenter;
        background-color: #151f3894;
        z-index: -1;
      }
      .post-img {
        max-width: 40%;
        border-radius: 0 0 calc(var(--main-border-radius) - 0.0625rem)
          calc(var(--main-border-radius) - 0.0625rem);
        border: 0.0625rem solid;
        cursor: zoom-out;
        @include in(toSmall) {
          max-width: 100%;
          max-height: 30vh;
          width: auto;
        }
      }
    }
    .post-body {
      overflow: auto;
      @include in(toSmall) {
        max-height: 50vh;
      }
    }
    .text,
    .title {
      flex-shrink: 0;
      white-space: normal;
    }
  }
  .blog-container {
    background: var(--primary-gradient);
    background: {
      blend: {
        mode: $primaryGradientBlendMode;
      }
    }
    border-radius: var(--main-border-radius);
    .post-img {
      cursor: zoom-in;
      border-radius: calc(var(--main-border-radius) - 0.0625rem)
        calc(var(--main-border-radius) - 0.0625rem) 0 0;
    }
    .close {
      @extend %transition;
      --box-shadow-color: #15213f;
      display: none;
      position: absolute;
      left: calc(100% - 3.5rem);
      padding: 0.5rem 0.75rem;
      bottom: 100%;
      background-color: var(--box-shadow-color);
      border-left: 0.0625rem solid var(--gradient-dark-1);
      border-radius: 0.75rem 0.75rem 0 0;
      box-shadow: 0.0625em -0.0625rem 0px var(--gradient-dark-1);
      &:focus {
        outline: none;
      }
      &::before,
      &::after {
        @extend %transition;
        content: "";
        position: absolute;
        bottom: 0;
        height: 0.75rem;
        width: 1.5rem;
      }
      &::before {
        right: calc(100% - 0.5rem);
        border-radius: 0 0 0.75rem 0;
        box-shadow: inset -0.5rem 0 0 0 var(--box-shadow-color),
          inset -0.5rem -0.0625rem 0 0 var(--gradient-dark-1);
      }
      &::after {
        left: calc(100% - 0.5rem);
        border-radius: 0 0 0 0.75rem;
        box-shadow: inset 0.5rem 0 0 0 var(--box-shadow-color),
          inset 0.5rem -0.0625rem 0 0 var(--gradient-dark-1);
      }
      &:hover,
      &:focus {
        --box-shadow-color: var(--dark);
      }
    }
  }
  .post-body {
    @extend %fCol;
    color: var(--dark-on-primary-container);
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
    @include in(fromMobile) {
      align-items: flex-start;
    }
  }
  .title {
    margin: 0;
    font-size: 1.25rem;
    @include in(toSmall) {
      font-size: 1.125rem;
    }
  }
  .text {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    @include in(toSmall) {
      font-size: 0.875rem;
    }
    small {
      color: var(--dark-primary);
      font-size: 0.875rem;
      @include in(toSmall) {
        font-size: 0.75rem;
      }
    }
  }
  .more {
    @extend %fSpacerC;
    padding: 0.875rem 1rem;
    color: var(--border-color);
    font-size: 1rem;
    cursor: pointer;
    a {
      @include in(toSmall) {
        font-size: 0.875rem;
      }
    }
  }
}
