-
  let assetsPath = "/src/assets/",
  imgsPath = assetsPath + "images/";
  const myName = "Abubakr", title = "Abubakr",
  siteLinks = [
    { title: "home", name: "home", isActive: true },
    { title: "about", name: "about me", isActive: false },
    { title: "portfolio", name: "lates works", isActive: false },
    { title: "blogs", name : "blogs", isActive: false },
    { title: "contact", name: "contact",isActive: false },
    ];