-
  let assetsPath = "/src/assets/",
  imgsPath = assetsPath + "images/";
  const myName = "Abubakr", title = "Abubakr",
  siteLinks = [
    { title: "home", isActive: true },
    { title: "about", isActive: false },
    { title: "portfolio", isActive: false },
    { title: "blog", isActive: false },
    { title: "contact", isActive: false },
    ];