-
  let assetsPath = "/src/assets/",
  imgsPath = assetsPath + "imgs/";
  const myName = "Abubakr", title = "Abubakr",
  siteLinks = [
    { title: "Home", isActive: true },
    { title: "About", isActive: false },
    { title: "Projects", isActive: false },
    { title: "Blog", isActive: false },
    { title: "Contact", isActive: false },
    ];