section.about#about
  +specialHead(siteLinks[1].title)
  .container
    .row
      .about-figure.col-md-6
        img.img-fluid(src= imgsPath + "about.png", alt="")
      .content.col-md-6
        h3 Hey I'm Abubakr,#[br] Frontend developer
        p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
