section.hero#home
  .container.row
    .content.col-md-6
      h1 Hey I'm Abubakr,#[br] Frontend developer
      p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
      .btn-group(role='group', aria-label='Vertical button group')
        button.btn.btn-light(type=button) Download C.V
        button.btn.btn-light(type=button) Reach out to meta
      ul.list-group.list-group-horizontal
        li.list-group-item: i.fa.fa-facebook-f(aria-hidden='true')
        li.list-group-item: i.fa.fa-twitter(aria-hidden='true')
        li.list-group-item: i.fa.fa-github(aria-hidden='true')
        li.list-group-item: i.fa.fa-codepen(aria-hidden='true')
        li.list-group-item: i.fa.fa-free-code-camp(aria-hidden='true')
        li.list-group-item: i.fa.fa-linkedin(aria-hidden='true')
    .hero-figure.col-md-6.d-sm-none.d-md-block
      img(src= imgsPath + "background-sec.png", style="position: absolute;", alt="")
      img(src= imgsPath + "screen.png", style="position: absolute;",  alt="")
      img(src= imgsPath + "person & chair.png", style="position: absolute;",  alt="")
      a(href="#" + siteLinks[2].title)
  .divider-down 