section.hero#home
  .container
    .row
      .content.col-md-6
        h1 Hey I'm Abubakr,#[br] Frontend developer
        p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
        .btn-group(role='group', aria-label='Vertical button group')
          button.btn.btn-light(type=button) Download C.V
          button.btn.btn-light(type=button) Reach out to meta
        +socialLinks(socialLinks)
      .hero-figure.col-md-6.d-sm-none.d-md-block.post.position-relative
        img.img-fluid(src= imgsPath + "background-sec.png", alt="")
        img.position-absolute.top-0.start-0.img-fluid(src= imgsPath + "screen.png",  alt="")
        img.position-absolute.top-0.start-0.img-fluid(src= imgsPath + "person & chair.png", alt="")
        a(href="#" + siteLinks[2].title)
  .divider-down 