section.hero#home
  .container.position-relative
    .row.hero-content
      .content.col-lg-6
        h1.display-5 !{hero.mainHeadline}
        p.h5=hero.mainPragraph
        .hero-actions.d-grid.d-md-flex.gap-2(role='group')
          each action in hero.actions
            a(href=action.url class=action.addClass)=action.title
        +socialLinks(socialLinks)
      .hero-figure.col-lg-6.d-none.d-lg-block.position-relative
        .imgs-viewer.position-absolute
          .imgs-container.position-absolute
            +listOfImages(hero.worksSamples, imgsPath, "", "img-fluid")
        img.cover-img.img-fluid.position-relative(src= imgsPath + "person & chair.png", alt="")
        a.btn.btn-sm.btn-primary.position-absolute.work-link(href="#" + siteLinks[2].title) Projects
  a.alt-work-link.position-absolute.d-block.d-lg-none(href="#" + siteLinks[2].title): i(class="fa fa-angles-down")
  .divider-hero.position-absolute
    include ../includes/divider
