section.messages
  +specialHead("messages")
  .container
    hr
    button.load-messages.btn.btn-primary.btn-lg(type='button')
      i.fas.fa-folder-plus
      |load messages
    .table-tuti.messages-table
      .table-header
        .haed name
        .haed email
        .haed phone
        .haed messages
        .haed
      .table-body
