section.works
  +specialHead("works")
  .container
    form.work-form
      input(type="text", name="work-name" class="work-name", placeholder="Work name")
      input(type="text", name="work-desinger", class="work-desinger", placeholder="work desinger")
      input(type="text", name="work-desinger-link", class="work-desinger-link", placeholder="work desinger link")
      input(type="text", name="work-code-link", class="work-code-link", placeholder="work code link")
      input(type="text", name="work-live-link", class="work-live-link", placeholder="work live link")
      .technologies
        input.technology(type="checkbox", id="html5" value="fab fa-html5")
        label(for="html5")
          i(class="fab fa-html5")
          span html5
        input.technology(type="checkbox", id="css3" value="fab fa-css3-alt")
        label(for="css3")
          i(class="fab fa-css3-alt")
          span css3
        input.technology(type="checkbox", id="javascript" value="fab fa-js-square")
        label(for="javascript")
          i(class="fab fa-js-square")
          span javascript
        input.technology(type="checkbox", id="sass" value="fab fa-sass")
        label(for="sass")
          i(class="fab fa-sass")
          span sass
        input.technology(type="checkbox", id="gulp" value="fab fa-gulp")
        label(for="gulp")
          i(class="fab fa-gulp")
          span gulp
        input.technology(type="checkbox", id="vuejs" value="fab fa-vuejs")
        label(for="vuejs")
          i(class="fab fa-vuejs")
          span vuejs
      .project-images.fRowC
        input.workImgRender(type="file", data-device = "desktop")
        img.workImgViewer
        input.workImgRender(type="file", data-device = "tablet")
        img.workImgViewer
        input.workImgRender(type="file", data-device = "mobile")
        img.workImgViewer
      button.submit.btn.btn-primary(type="submit")
        i.fa.fa-plus(aria-hidden='true')
        |Add Work
    hr
    button.load-works.btn.btn-primary.btn-lg(type='button')
      i.fas.fa-folder-plus
      |load works
    .table-tuti.works-table
      .table-header
        .haed image
        .haed project name
        .haed desinger
        .haed code link
        .haed live link
        .haed technologies
        .haed action
      .table-body
