.portfolio {
  background: {
    repeat: no-repeat;
    size: cover;
    blend: {
      mode: var(--second-surface-blend-mode);
    }
  }
  .container {
    color: var(--light-primary-container);
    @include responGridCol(18.75rem, 2.5rem 2.5%);
    @include in(toSmall) {
      grid-template-columns: 1fr;
    }
  }
}
