svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M9.49996 9.0134C22.5 9.51343 0.230189 -2.48755 5.99998 2.51294C9.52995 5.57225 5.18503 7.13387 4.25646 8C4.21874 8.03975 4.18176 8.08057 4.14617 8.12194C3.81278 8.59076 4.84064 8.83419 9.49996 9.0134Z' fill='url(#main_gradient)')
  path(d='M9.49996 9.0134C22.5 9.51343 0.230189 -2.48755 5.99998 2.51294C9.52995 5.57225 5.18503 7.13387 4.25646 8C4.21874 8.03975 4.18176 8.08057 4.14617 8.12194C3.81278 8.59076 4.84064 8.83419 9.49996 9.0134Z' fill='#0A1A3D' fill-opacity='0.2')
  path(d='M5.99998 2.51294C0.230189 -2.48755 22.5 9.51343 9.49996 9.0134C4.84064 8.83419 3.81278 8.59076 4.14617 8.12194M5.99998 2.51294C9.52995 5.57225 5.18503 7.13387 4.25646 8C4.21874 8.03975 4.18176 8.08057 4.14617 8.12194M5.99998 2.51294C9.70183 5.72121 4.74296 7.2827 4.14617 8.12194M4.99997 13C3.07967 10.5996 3.28638 9.12112 4.14617 8.12194M13.4484 6.99997C15.3482 9.74156 13.9428 11.1341 13 13' stroke='url(#pattern_gradient)' stroke-linecap='round' style='mix-blend-mode:multiply')
  path(d='M8.5 6.00002L11 6C11.4484 6 11 6.50001 9.99999 6.50001C8.99998 6.50001 8 6.00004 8.5 6.00002Z' fill='#DAE2FF')
  path(d='M8.5 6.00002L11 6C11.4484 6 11 6.50001 9.99999 6.50001C8.99998 6.50001 8 6.00004 8.5 6.00002Z' stroke='url(#main_gradient_helper)' stroke-linecap='round' style='mix-blend-mode:multiply')
  defs
    radialgradient#main_gradient(cx='0' cy='0' r='1' gradientunits='userSpaceOnUse' gradienttransform='translate(8.95353 7.14572) rotate(90) scale(5.85428 5.43741)')
      stop(stop-color='#505D84')
      stop(offset='1' stop-color='#212F53')
    lineargradient#pattern_gradient(x1='8.95353' y1='1.29144' x2='8.95353' y2='13' gradientunits='userSpaceOnUse')
      stop(stop-color='#D9DFFF')
      stop(offset='0.520833' stop-color='#D6DCF9')
      stop(offset='0.71875' stop-color='#C6CEFB')
      stop(offset='1' stop-color='#C5CFFF')
    lineargradient#main_gradient_helper(x1='9.7705' y1='6' x2='9.7705' y2='6.50001' gradientunits='userSpaceOnUse')
      stop(stop-color='#D9DFFF')
      stop(offset='0.520833' stop-color='#D6DCF9')
      stop(offset='0.71875' stop-color='#C6CEFB')
      stop(offset='1' stop-color='#C5CFFF')
