svg(width='12' height='14' viewbox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg').ab-icon-light
  path(d='M7.99995 6.00004C7.50001 6.50006 6.73073 6.90124 5.49997 6.00004M1.99998 13.0001C0 10.5001 0.307213 9.00007 1.25647 8.00006M10.4484 7.00003C12.3482 9.74162 10.9428 11.1342 10 13.0001M2.99999 2.513C-2.7698 -2.48749 19.5 9.51349 6.49997 9.01346C-6.50003 8.51344 8.76979 7.51349 2.99999 2.513Z' stroke='var(--icon-color, url(#pattern_gradient))' stroke-linecap='round')
  defs
    lineargradient#pattern_gradient(x1='5.95353' y1='1.2915' x2='5.95353' y2='13.0001' gradientunits='userSpaceOnUse')
      stop(stop-color='#D9DFFF')
      stop(offset='0.520833' stop-color='#D6DCF9')
      stop(offset='0.71875' stop-color='#C6CEFB')
      stop(offset='1' stop-color='#C5CFFF')