-
  const about = {
    title: `Hey I'm Abubakr,
    Frontend developer`,
    content: `Here Iam gonna share everything 
    about my life. Books Iam reading, 
    Games Iam Playing, Stories and Events
    Here Iam gonna share everything 
    about my life. Books Iam reading, 
    Games Iam Playing, Stories and Events`,
  }