-
  const blogs = [
    {
      img: "https://images.unsplash.com/photo-1595970115799-ff4d1d35031e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "deploy abubakr website",
      date: "25 sept 2022",
      moreLink: "",
      text: "this website to help customers and recruiters to contact with abubakr hisham and see his services and skills",
    },
    {
      img: "https://images.unsplash.com/photo-1433048980017-63f162f662b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "task runner",
      date: "24 aug 2022",
      moreLink: "",
      text: "Any desgister needs to use task runner in it projects if you don't use it yet, go and start learn it and used is very good option to use it's will saved time that weast in save files and commpress img and so on..",
    },
    {
      img: "https://images.unsplash.com/photo-1526590847572-533c6ae9f542?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "Css preprocessor",
      date: "20 aug 2022",
      moreLink: "",
      text: "using css preprocessor is good way to syles your project it's faster, safety and mintable.",
    },
    {
      img: "https://images.unsplash.com/photo-1506579866393-dfa963e67e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "vanila java script or framework",
      date: "04 nov 2021",
      moreLink: "",
      text: "framework is very good option for intermediate developers it's saved time but for beginer developers pure js is good to give them strong skills.",
    },
    {
      img: "https://images.unsplash.com/photo-1574579991264-a87099cc17b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "wordpress or special programming",
      date: "17 oct 2022",
      moreLink: "",
      text: "wordpress is very easy to develope and it's a good in small projcets",
    },
    {
      img: "https://images.unsplash.com/photo-1574579423678-3a9fc592812e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "copilet will replace you??",
      date: "02 sept 2022",
      moreLink: "",
      text: `last week most developers post articles about copilet and asked if it's will repace the developers work.
      the copilet is artificial intelligent that will help developers not to repace them.`,
    },
    {
      img: "https://images.unsplash.com/photo-1630547723707-c2a27b6a5fd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "first post",
      date: "25 aug 2021",
      moreLink: "",
      text: "This is my first post in my website it's not a real post it's just placeholder",
    },
  ];