-
  const blogs = [
    {
      img: "https://images.unsplash.com/photo-1595970115799-ff4d1d35031e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1494791368093-85217fbbf8de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1433048980017-63f162f662b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1526590847572-533c6ae9f542?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1506579866393-dfa963e67e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1574579991264-a87099cc17b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1574579423678-3a9fc592812e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
    {
      img: "https://images.unsplash.com/photo-1630547723707-c2a27b6a5fd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum consectetur.",
    },
  ];