- 
  const blogs = [
    {
      img: "work-mobile-01.jpg",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum dolor sit amet consectetur.",
    },
    {
      img: "work-mobile-01.jpg",
      title: "sunyside",
      date: "20 aug 2022",
      moreLink: "",
      text: "Lorem ipsum dolor sit amet consectetur.",
    },
  ];