-
  const contact = {
    title: "Get in touch,",
    description: "Blandit viverra felis vulputate lacus turpis ipsum ut dictumst amet, urna donec in cursus eget ullamcorper.",
    contactLinks: [
      { title: "Abubakr.Hisham@hotmail.com", url: "mailto:abubakr.hisham@hotmail.com", icon: "fa fa-envelope" },
      { title: "+249 904219999", url: "tel:+249904219999", icon: "fa fa-phone" },
    ],
  }