-
  const hero = {
    worksSamples: [
    "work-view-1.png",
    "work-view-2.png",
    "work-view-3.png",
    "work-view-4.png",
    "work-view-5.png",
    "work-view-6.png",
    ],
    mainHeadline: "Hey I'm Abubakr,<br> Frontend developer",
    mainPragraph: "Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events",
    actions: [
      {
        title: "Get Resume",
        url: "https://firebasestorage.googleapis.com/v0/b/abubakr-learn.appspot.com/o/Abubakr%20Resume.pdf?alt=media&token=5726ec21-8416-44dd-9c8a-d7fb764baf1e",
        addClass: "btn btn-light",
      },
      {
        title: "Contact Me", 
        url: "#contact",
        addClass: "btn btn-outline-light",
      },
    ]
  };