-
  const socialLinks = [
    { url: "#", icon: "fa-fa-facebook-f" },
    { url: "#", icon: "fa-fa-twitter" },
    { url: "#", icon: "fa-fa-linkedin" },
    { url: "#", icon: "fa-fa-github" },
    { url: "#", icon: "fa-fa-codepen" },
    { url: "#", icon: "fa-fa-free-code-camp" },
  ];