-
  const socialLinks = [
    { url: "https://www.facebook.com/abubakr404", icon: "fab fa-facebook-f" },
    { url: "https://twitter.com/abubakr_404", icon: "fab fa-twitter" },
    { url: "https://linkedin.com/in/abubakr-hisham", icon: "fab fa-linkedin" },
    { url: "https://github.com/abubakr404", icon: "fab fa-github" },
    { url: "https://codepen.io/abubakr_404", icon: "fab fa-codepen" },
  ];