-
  const socialLinks = [
    { url: "#", icon: "fab fa-facebook-f" },
    { url: "#", icon: "fab fa-twitter" },
    { url: "#", icon: "fab fa-linkedin" },
    { url: "#", icon: "fab fa-github" },
    { url: "#", icon: "fab fa-codepen" },
    { url: "#", icon: "fab fa-free-code-camp" },
  ];