- 
  const portfolio = [
    {
      screens: [
        { icon: "fa fa-desktop", isActive: true, isAvailable: true  },
        { icon: "fa fa-tablet", isActive: false, isAvailable: true  },
        { icon: "fa fa-mobile", isActive: false, isAvailable: true  },
      ],
      imgs: {
        desktop: "work-desktop-01.jpg",
        tablet: "work-tablet-01.jpg",
        mobile: "work-mobile-01.jpg",
      },
      technologies: [
        { link: "#", icon: "fa fa-html5"},
        { link: "#", icon: "fa fa-css3"},
        { link: "#", icon: "fa fa-js-square"},
      ],
      title: "sunyside",
      desgister: { title: "forntendmentor", icon: "fa fa-palette" },
      links: [
        { title: "View Code", icon: "fa fa-github", url: "" },
        { title: "Live Version", icon: "fa fa-eye", url: "" },
      ],
    },
  ];