-
  const portfolio = [
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-01.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-01.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-01.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "Leon",
      desgister: {
        title: "Graphberry",
        icon: "fa fa-palette",
        url: "https://www.graphberry.com/item/leon-psd-agency-template"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/abubakr404/elzero-tut-temp-1" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/elzero-tut-temp-1/" },
      ],
    },
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-02.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-02.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-02.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "sunyside",
      desgister: {
        title: "Forntend Mentor",
        icon: "fa fa-palette",
        url: "https://www.frontendmentor.io/challenges/sunnyside-agency-landing-page-7yVs3B6ef"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/frontend-mentor-challenge-21" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/frontend-mentor-challenge-21/" },
      ],
    },
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-03.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-03.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-03.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "Template 3",
      desgister: {
        title: "Elzero.org",
        icon: "fa fa-palette",
        url: "https://elzero.org/html-css-practice-template-three/"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/abubakr404/elzero-tut-temp-3" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/elzero-tut-temp-3/" },
      ],
    },
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-04.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-04.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-04.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "Kasper",
      desgister: {
        title: "Graphberry",
        icon: "fa fa-palette",
        url: "https://www.graphberry.com/item/kasper-one-page-creative-html-theme"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/abubakr404/elzero-tut-temp-2" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/elzero-tut-temp-2/" },
      ],
    },
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-05.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-05.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-05.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "Blogr",
      desgister: {
        title: "Forntend Mentor",
        icon: "fa fa-palette",
        url: "https://www.frontendmentor.io/challenges/blogr-landing-page-EX2RLAApP"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/frontend-mentor-challenge-22" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/frontend-mentor-challenge-22/" },
      ],
    },
    {
      screens: [
        {
          type: "desktop",
          icon: "fa fa-desktop",
          img: "work-desktop-06.png",
          isActive: true,
          isAvailable: true
        },
        {
          type: "tablet",
          icon: "fa fa-tablet-alt",
          img: "work-tablet-06.png",
          isActive: false,
          isAvailable: true
        },
        {
          type: "mobile",
          icon: "fa fa-mobile-alt",
          img: "work-mobile-06.png",
          isActive: false,
          isAvailable: true
        },
      ],
      technologies: [
        { link: "#", icon: "fab fa-html5"},
        { link: "#", icon: "fab fa-css3-alt"},
        { link: "#", icon: "fab fa-js-square"},
      ],
      title: "Abubakr Website",
      desgister: {
        title: "Abubakr",
        icon: "fa fa-palette",
        url: "https://www.figma.com/file/sd7cX1lLaL6pMWDclQdoOA/Abubakr-site"
        },
      links: [
        { title: "View Code", icon: "fab fa-github", url: "https://github.com/abubakr404.github.io" },
        { title: "Live Version", icon: "fa fa-eye", url: "https://abubakr404.github.io/" },
      ],
    },
  ];