@import "../components/groups";
@import "../components/animations";
@import "../components/tuti";

.loader {
  @extend %transition;
  @extend %aCenter;
  @extend %fCenter;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(48 48 48 / 95%);
  z-index: 1000000000;
}

.loader-effect {
  color: #c5c5c5;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.3125rem;
  line-height: 1;
  position: relative;
}

.loader-effect:before {
  content: "";
  @include overlay($white, 1, 5rem);
  mix-blend-mode: difference;
  animation: loadingMove 5s linear infinite;
}

.ab-icon-light {
  --icon-color: inherit;
}

.divider-hero,
.divider-footer {
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.divider-footer {
  bottom: 100%;
}

.divider {
  display: block;
  width: 100%;
  height: 5rem;
  max-height: 5rem;
}

.parallax1 > use {
  animation: moveForever1 10s linear infinite;
}

.parallax2 > use {
  animation: moveForever2 8s linear infinite;
}

.parallax3 > use {
  animation: moveForever1 6s linear infinite;
}

.parallax4 > use {
  animation: moveForever2 4s linear infinite;
}

.wave {
  --wave-1: var(--dark-primary-container);
  --wave-2: var(--light-primary);
  --wave-3: var(--light-primary-container);
  --wave-4: url(#divider_gradient_hero);
  > use {
    animation-delay: -2s;
  }
}

section {
  &:not(.hero) {
    @extend %sectionPadding;
  }
  @include in(toSmall) {
    text-align: center;
  }
}

.social {
  @extend %fCenter;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  @include in(fromMedium) {
    justify-content: flex-start;
  }
  a.social-link {
    @extend %fCenter;
    padding: 0;
    font-size: 1.125rem;
    border-radius: 50%;
    min-height: 2.25rem;
    min-width: 2.25rem;
  }
}

.special-head {
  @extend %transition;
  @extend %fCenter;
  @extend %bold;
  text-transform: capitalize;
  margin-bottom: 5rem;
  position: relative;
  padding: 0.625rem 1.25rem;
  font-size: 2rem;
  @include in(toSmall) {
    font-size: 1.5rem;
  }
  &::after,
  &::before {
    @extend %transition;
    @extend %aCenter;
    content: "";
    position: absolute;
    right: 50%;
    border-radius: 10rem;
    bottom: -0.3125rem;
  }
  &::after {
    background-color: var(--light-on-primary-container);
    height: 0.5rem;
    width: 1.5rem;
  }
  &::before {
    background-color: var(--light-inverse-primary);
    height: 0.1875rem;
    width: 5rem;
  }
}

%focus {
  outline-color: var(--border-gradient);
  outline-width: 0.0625rem;
  outline-offset: 0;
  outline-style: solid;
}

%primaryBackground {
  background: var(--primary-gradient);
  background: {
    blend: {
      mode: $primaryGradientBlendMode;
    }
  }
}

.card-text,
.card-title {
  @extend %textCiper;
  max-width: 100%;
}

@import "../layout/header";
@import "hero";
@import "about";
@import "portfolio";
@import "blogs";
@import "contact";
@import "../layout/footer";
