header {
  @extend %transition;
  height: var(--header-height);
  position: sticky;
  z-index: 10;
  color: var(--light-primary-container);
  top: -1px;
  &.filled {
    nav.site-nav {
      box-shadow: 0 0.125rem 0.25rem rgba($borderGradient, 0.5);
      padding: 0;
      &:before {
        animation: filledColorStart var(--main-transition) ease-out forwards;
      }
    }
  }
  nav.site-nav {
    @extend %transition;
    @extend %fRowC;
    padding: 0.5rem 0;
    overflow: hidden;
    position: relative;
    @include in(toSmall) {
      .navSiteLinks {
        padding-bottom: 1.5rem;
      }
      ul.siteNav {
        border: 0.125rem solid;
        padding: 0.625rem 1.5rem;
        border-radius: 0.625rem;
        a {
          text-align: center;
          padding: 1rem;
        }
      }
    }
    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: filledColorEnd var(--main-transition) ease-out forwards;
    }
  }
  .container {
    @extend %fSpacer;
    flex-wrap: wrap;
    @include in(toSmall) {
      flex: 1;
    }
    .logo {
      @extend %fCenter;
      min-height: calc(var(--header-height) - 1rem);
      font-weight: 600;
      gap: 0.125rem;
      padding: 0.125rem 0;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .nav-wrapper {
      @extend %fRowEX;
      @extend %transition;
      @include in(toSmall) {
        transform: translateY(0);
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        &:not(.open) {
          padding-bottom: 0;
          max-height: 0vh;
          opacity: 0;
          visibility: hidden;
          transform: translateY(4rem);
        }
        padding-bottom: 1.5rem;
        flex: 1 100%;
      }
    }
    .nav-list {
      @extend %fCol;
      flex: 1;
      gap: 0.5rem;
      @include in(toSmall) {
        border: 0.125rem solid;
        padding: 0.625rem 1.5rem;
        border-radius: var(--main-border-radius);
        li {
          height: calc(var(--header-height) - 1rem);
        }
      }
      @include in(fromMedium) {
        flex-direction: row;
      }
      a.nav-link {
        @extend %fCenter;
        text-transform: capitalize;
        position: relative;
        padding: 0.5rem;
        height: 100%;
        &:after {
          @extend %transition;
          @include line(var(--light-primary-container), 0.125rem, bottom, 100%, 100%, 0);
          transform: translateX(50%);
        }
        &:hover,
        &:focus,
        &.active {
          &:after {
            width: calc(100% - 0.5rem);
          }
        }
      }
    }
    .menu-button {
      font-size: 1.5rem;
      align-self: center;
      padding: 0.125rem 0.5rem;
      @include in(fromMedium) {
        display: none;
      }
    }
    .theme-button {
      align-self: center;
      margin-left: 1rem;
      padding: 0.25rem 0.5rem;
      @include in(toSmall) {
        margin: 0.5rem 0 auto 1rem;
      }
    }
  }
}

@keyframes filledColorStart {
  0% {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    opacity: 0.5;
    background: var(--dark-primary);
    box-shadow: 0 0 0 0.75rem var(--light-primary);
  }
  10% {
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.1;
  }
  35% {
    border-radius: 50%;
    background: rgba(var(--dark-primary), 0.3);
    box-shadow: 0 0 0 10vh var(--light-on-primary-container);
  }
  90% {
    opacity: 0.2;
  }
  100% {
    width: 100vw;
    height: 100vh;
    top: 50%;
    opacity: 1;
    border-radius: 0;
    background: var(--primary-gradient);
    box-shadow: 0 0 0 100vh var(--light-on-primary-container);
  }
}

@keyframes filledColorEnd {
  0% {
    width: 100vw;
    height: 100vh;
    top: 50%;
    opacity: 1;
    border-radius: 0;
    background: var(--primary-gradient);
    box-shadow: 0 0 0 100vh var(--light-on-primary-container);
  }
  10% {
    border-radius: 50%;
    opacity: 0.1;
  }
  65% {
    top: 50%;
    background: rgba(var(--dark-primary), 0.3);
    box-shadow: 0 0 0 5vh var(--light-on-primary-container);
  }
  90% {
    opacity: 0.1;
  }
  100% {
    width: 1.25rem;
    height: 1.25rem;
    top: 0rem;
    opacity: 0.5;
    border-radius: 50%;
    background: var(--dark-primary);
    box-shadow: 0 0 0 0.75rem var(--light-primary);
  }
}
