block bodyContent
  .loader: span.loader-effect loading
  header
    nav.navbar.navbar-expand-lg
      .container
        a(href="#").navbar-brand=myName
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation"): span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-end#navbarNav
          ul.navbar-nav
            each li in siteLinks
              li.nav-item: a.nav-link(href="#"+ li.title, class= li.isActive ? "active" : false)=li.title

  main
    include sections/hero
    include sections/about
    include sections/portfolio
    include sections/blog
    include sections/contact

  footer
    .container
      .info-box
        h3=myName
    //-     p= Footer.info
    //- .desgister
    //-   p=`${Footer.desgister.message} ${Footer.desgister.icon} By ${Footer.desgister.name}`
